@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root{
    --Red: hsl(0, 78%, 62%);

    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin : 3.5rem auto;
    background-color: var(--Very-Light-Gray);
    
}
h1{
    font-size: 1.7em;
}
h2{
    font-size: 1.2em;
}
p{
    color: var(--Grayish-Blue);
    margin: 12px 0;
}
.container{
    max-width: 1200px;
    min-width: 900px;
    padding: 1.5rem 2rem;
    margin: auto;
}
main{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
}
.text-center{
    text-align: center;
}
.no-bold{
    font-weight: 100;
    color: var(--Grayish-Blue);
}
header p{
    max-width: 45%;
    margin: 1em auto;
}
.card{
    border-radius: 8px;
    background-color: white;
    padding:2rem;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}
.col-1 section, .col-2 section, .col-3 section{
    max-width: 350px;
}
.col-2{
    display: flex;
    flex-direction:column ;
    gap: 2rem;
}
.card-icon{
    margin-top: 2.5rem;
    direction: rtl;
}
.supervisor{
    border-top: solid 3px var(--Cyan);
}
.team-builder{
    border-top: solid 3px var(--Red);
}
.karma{
    border-top: solid 3px var(--Orange);
}
.calculator{
    border-top: solid 3px var(--Blue);
}

@media screen and (max-width:760px) {
    .container{
         max-width: 100%;
         min-width: 100%;
         padding: 1.5rem 2rem;
         margin: auto;
     }
     main{
         display:flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
     }
     header p{
         max-width: 100%;
     }
}

